# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python virtual environments
venv/
env/
